name: Run KPTCL Automation
on:
  workflow_dispatch:  # manual trigger
  schedule:
    - cron: "0 6 * * *"  # runs daily at 06:00 UTC (optional)

jobs:
  run-automation:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install selenium

      
      -  name: Install Chrome & ChromeDriver
        run: |
          sudo apt-get update
          sudo apt-get install -y chromium-browser chromium-chromedriver
          which chromedriver
          chromedriver --version
          chromium-browser --version

      - name: Run Selenium Script
        run: |
          python kptcl.py
