name: Run KPTCL Automation

on:
  workflow_dispatch:
  schedule:
    - cron: "30 2 * * *"   # Runs everyday at 2:30 AM IST

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.13'

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install selenium undetected-chromedriver

    - name: Install distutils
      run: sudo apt-get install python3.13-distutils -y
        
    - name: Install ChromeDriver
      uses: nanasess/setup-chromedriver@v2

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install selenium

    - name: Run automation
      run: |
        python kptcl.py

    - name: Upload screenshot on failure
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: error-screenshot
        path: error.png
